button {
  border: none;
  background: none;
  cursor: pointer;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title {
  margin-left: 12px;
  align-self: start;
}

.home-login {
  border: 11px solid black;
  border-radius: 6px;
}

.home-login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

@media (max-width: 888px) {
  .home-title {
    align-self: center;
  }
}
